@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
body{
	margin: 0;
	padding: 0;
	background: #f6f8f9;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}
a{
	text-decoration: none;
}
ul, li{
	padding: 0;
	margin: 0;
	list-style: none;	
}
h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
	color: #3b5998;
}
h1{
    font-size: 30px;
}
.light{
	font-weight: 300;
}
.medium{
	font-weight: 300;
}
.bold{
	font-weight: 500;
}
.extra-bold{
	font-weight: 900;
}
.button-primary{
	outline: 0;
	border: 0;
    border-radius: 4px;
	color: #fff;
	background-color: #3b5998;
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
	padding: 6px 16px;
    min-width: 64px;
    font-weight: 500;
	line-height: 1.75;
	cursor: pointer;
}
.button-primary:hover{
	opacity: 0.9;
}
.card{
	box-shadow: 0 2px 4px rgba(3,27,78,.1);
	background-color: #ffffff
}
.content{
	padding: 15px;
}
.padding30{ 
	padding: 30px;
}
.loader-container{
	padding: 50px;
}
.loader{
	position: relative;
	min-width: 100px;
	min-height: 35px;
}
.loader::after{
	position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -.5em 0 0 -.5em;
    width: 1em;
    height: 1em;
    border-width: .2em;
    border-radius: 500rem;
    border-color: #fff transparent transparent;
    border-style: solid;
	box-shadow: 0 0 0 1px transparent;
    -webkit-animation: spin .6s linear;
    animation: spin .6s linear infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-box-shadow: 0 0 0 1px transparent;
}
.primary::after{
	border-color: #3b5998 transparent transparent !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}