@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
body{
	margin: 0;
	padding: 0;
	background: #f6f8f9;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}
h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
	color: #3b5998;
}
h1{
    font-size: 30px;
}
.light{
	font-weight: 300;
}
.medium{
	font-weight: 300;
}
.bold{
	font-weight: 500;
}
.extra-bold{
	font-weight: 900;
}
.button-primary{
	outline: 0;
	border: 0;
    border-radius: 4px;
	color: #fff;
	background-color: #3b5998;
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
	padding: 6px 16px;
    min-width: 64px;
    font-weight: 500;
    line-height: 1.75;
}
.content{
	
}