.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-header {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}

.rotate {
  transform: rotate(90deg);
}

.accordion-content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.3s ease;
}